@charset "UTF-8";

html,body{
	overflow:hidden;
}

#btn{
		display:block;
		width: 170px;
		height: 170px;
		border-radius: 50%;
		background-image:url(illustkun-04860-arrow.png);
		background-size:cover;
		position:fixed;
        bottom:15px;
        right:5px;
        touch-action:manipulation;
	}
	
#game{
	width:800px;
	height:400px;
	border:1px solid black;
	background-image:url(bg_uchu_space.jpg);
	background-size:cover;
	position: relative;
}
#character{
	width:90px;
	height:90px;
	background-image:url(shinsyakaijin_run_woman2.png);
	background-size:cover;
	position:absolute;
	top:220px;
	left:10px;
}

.animate{

	animation:jump 500ms;     /*キャラクターがジャンプしてから着地するまでの秒数（500ms = 0.5秒）*/
	
}
@keyframes jump{     /*キャラクターがジャンプする高さを指定*/
	0%{top:220px;}
	30%{top:90px;}
	100%{top:220px;}
}
#obstacle{
	width:30px;
	height:50px;
	background-image:url(wing.png);
	background-size: cover;
	position:absolute;
	top:270px;
	left:800px;
	animation:move 1000ms infinite linear;      /*1000ms（= 1秒）で障害物の速さを指定（右から左へ通り過ぎるまでの秒数）
                                                  (数値が小さいほど速い）*/
}


@keyframes move{
	0%{left:800px;}
	100%{left:-40px;}
}
#obstacle2{
	width:60px;
	height:60px;
	background-image:url(energy.png);
	background-size: cover;
	position:absolute;
	top:270px;
	left:800px;
	animation : move2 1200ms infinite linear;     /*1200ms（= 1.2秒）で障害物の速さを指定（右から左へ通り過ぎるまでの秒数）
                                                   (数値が小さいほど速い）*/
}

#obstacle3{
	width:40px;
	height:40px;
	background-image:url(fireball.png);
	background-size: cover;
	position:absolute;
	top:70px;
	left:800px;
	animation:move 1000ms infinite linear;     /*1000ms（= 1秒）で障害物の速さを指定（右から左へ通り過ぎるまでの秒数）
                                                (数値が小さいほど速い）*/
}

@keyframes move2{
	0%{left:800px;}
	100%{left:-100px;}
	}
	
#obstacle4{
	width:30px;
	height:50px;
	background-image: url(moreEnergy.png);
	background-size: cover;
	position: absolute;
	top:270px;
	left:800px;
	animation:move2 1500ms infinite linear;      /*1500ms（= 1.5秒）で障害物の速さを指定（右から左へ通り過ぎるまでの秒数）
                                                   (数値が小さいほど速い）*/
}

#boss{
	width:100px;
	height:200px;
	background-image: url(alien_grey.png);
	background-size: cover;
	position:absolute;
	top:140px;
	left:750px;
	z-index: 1;
}



.bossStop{
	animation:move3 5000ms linear;      /*5000ms（= 5秒）で宇宙人が移動する速さを指定（右から左へ通り過ぎるまでの秒数）
	                                      (数値が小さいほど速い）*/
}

@keyframes move3{
	0%{left:750px;}
	100%{left:10px;}
}

#explode {
	width: 200px;
	height: 200px;
	background-image: url(explode.png);
	background-size: cover;
	position: absolute;
	top: 140px;
	left: 10px;
	z-index: 1;
}

.explode {
	animation: fadeout 1s;
	animation-delay: 1s;
}

@keyframes fadeout {
	0% {opacity: 1;}
	100% {opacity: 0;}
}


#doPunch{
	width:200px;
	height:100px;
	background-image:url(taose.png);
	background-size: cover;
	position:absolute;
	top:45px;
	z-index: 10;
}

#pbtn{
	display: block;
	
	width: 170px;
	height: 170px;
	border-radius: 50%;
	background-image:url(body_punch_hand.png);
	background-size:cover;
	position:fixed;
    bottom:15px;
    right:175px;
    touch-action:manipulation;
    z-index: 5;
}


#renda{
	width:150px;
	height:90px;
	background-image: url(renda.png);
	background-size: cover;
	position:fixed;
	bottom:140px;
	right:170px;
	z-index: 20;
}

.punching{
	
	animation-name:punchp;
}

#punch{
	width:100px;
	height:100px;
	background-image: url(body_punch_hand_red.png);
	background-size: cover;
	position:absolute;
	top:200px;
	right:610px;
	z-index: 10;
}
@keyframes punchp{
	0%,40%,60%,80%{transform:scale(1.0);}
	50%,70%{transform:scale(0.95);}	
}

#life1{
	width:50px;
	height:50px;
	background-image:url(heart-st4.png);
	background-size:cover;
	position:absolute;
	top:20px;
	left:600px;
	display:block;
}
#life2{
	width:50px;
	height:50px;
	background-image:url(heart-st4.png);
	background-size:cover;
	position:absolute;
	top:20px;
	left:650px;
	display:block;
}
#life3{
	width:50px;
	height:50px;
	background-image:url(heart-st4.png);
	background-size:cover;
	position:absolute;
	top:20px;
	left:700px;
	display:block;
}

.progress-bar {
    width: 300px;
    height: 30px;
    top:20px;
    background-color:honeydew;
    position: absolute;
  }

  .progress-bar-inner {
    position: absolute;
    height: 100%;
    background-color:yellow;
    animation: loading 26s linear forwards;
  }
@keyframes loading {
    0% {
      width: 0;
    }
    100% {
      width: 100%;
    }
  }
